.titl{
  display: flex;
  justify-content: center;
  align-items: center;

}
.connects{
  margin-left: 5%
}
.flash{ padding: 10px}
.flash.success {border: 1px solid #21DB56;
background: #AEFFC5;
}
.flash.error {
  border: 1px solid #FF4343;
  background: #FF9C9C;
}

.con{
  margin-left: 10px
}
body{
  background: #ECFFF6;
}
 .slide{
   margin-left: 50px;
   margin-right: 50px;
   margin-top: 50px
 }
.text{
  color: black
}
.imgsize{
          width: 800px; /* ширина картинки будет 350px*/
          height:400px ; /* высота картинки будет 350px*/
             margin-left: 5%
      }
        .imgsize1{
                width: 800px; /* ширина картинки будет 350px*/
                height:600px ; /* высота картинки будет 350px*/
                   margin-left: 5%
            }
