<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
{% block title -%}
    {% if title %}
    <title>Одно окно - {{title}}</title>
      {% else %}
      <title> Одно окно </title>
    {% endif %}
    {% endblock %}
  </head>
  <body>
    {% block content -%}
    {%- block mainmenu -%}
<ul>
    {% for m in  menu %}
    <li> {{m}}</li>
    {%  endfor %}
  </ul>
{% endblock mainmenu -%}
      {% if title -%}
      <h1> {{title}}</h1>
      {% else -%}
      <h1> Одно окно </h1>
      {% endif %}
      {% endblock -%}
  </body>
</html>
