



{% extends 'base.html'%}


{%block content%}
<div class="connects">


  <p> Есть вопросы? Отпрвьте их нам: </p>
  {%for cat, msg in get_flashed_messages(True)%}
    <div class="flash {{cat}}">{{msg}}</div>
  {%endfor%}
  <form  action="/connect" method="post" class="form-contact">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Ваши фамилия и имя</label>
  <input class="form-control w-25 h-50" name="username" type="text"  placeholder="Иванов Иван">
  <label for="exampleFormControlInput1" class="form-label">Адрес электронной почты</label>
  <input type="email" class="form-control w-25 h-50" id="exampleFormControlInput1" name="email" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label ">Введите сообщение...</label>
<textarea class="form-control w-25 h-50" id="exampleFormControlTextarea1" rows="3"></textarea>
<input class="btn btn-secondary" type="submit" id="inputGroupFileAddon04" value="Отпрвить">
</div>
</form>


</div>  {%endblock%}
