{% extends 'base.html'%}
{%block content%}
<p> Есть вопросы? Отпрвьте их нам: </p>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Ваши фамилия и имя</label>
  <input type="email" class="form-control w-25 h-50" id="exampleFormControlInput1" placeholder="Иванов Иван">
  <label for="exampleFormControlInput1" class="form-label">Адрес электронной почты</label>
  <input type="email" class="form-control w-25 h-50" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label ">Введите сообщение...</label>
  <textarea class="form-control w-25 h-50" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
  {%endblock%}
