{% extends 'base.html'%}
{%block content%}
<div class="card-group">
  <div class="card">
    <img src="\static\image\index-3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">График работы службы Одно окно:</h5>
      <p class="card-text">понедельник, суббота с 8.00 до 13.00 с 14.00 до 17.00;<br>
вторник, четверг, пятница с 8.00 до 18.00;
<br>среда с 8.00 до 20.00;<br> воскресенье-выходной.</p>
      <p class="card-text"><small class="text-muted">Последнее обновление 3 мин. назад</small></p>
    </div>
  </div>
  <div class="card">
    <img src="\static\image\index-1.jpg" class="card-img-top" alt="...">  <div class="card-body">
      <h5 class="card-title"> Где мы находимся?</h5>
      <p class="card-text">Служба "Одно окно администрации Первомайского района" находится в фойе здания по адресу: г.Бобруйск, ул.Ульяновская, д.54/24</p>
      <p class="card-text"><small class="text-muted">Последнее обновление 3 мин. назад</small></p>
    </div>

  </div>
  <div class="card">
    <img src="\static\image\index-2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">­Общая информация о службе «Одно окно»</h5>
      <p class="card-text">Координатор работы с обращениями заинтересованных лиц: Одиноченко Александр Семенович, управляющий делами
кабинет 215, тел. 77 75 09. <br>
Прием заинтересованных лиц осуществляют работники службы «одно окно»: Кулевцова Марина Анатольевна,
Рачинская Елена Эдуардовна,
Бокая Елена Сергеевна,
Юшкевич Татьяна Сергеевна. <br> Консультацию можно получить по телефонам: 77 75 11, 77 75 04
</p>
      <p class="card-text"><small class="text-muted">Последнее обновление 3 мин. назад</small></p>
    </div>
  </div>
</div>
  {%endblock%}
