{% extends 'base.html'%}
{%block content%}
  <p class="fw-bold fs-3 connects ">Основные нормативные правовые акты по вопросам осуществления административных процедур:</p> <br>
<div class="fs-4 connects">


  <a href="https://pravo.by/document/?guid=3871&p0=h10800433" class="link-dark ">1. Закон Республики Беларусь от 28 октября 2008 г. № 433-З <br>«Об основах административных процедур»
  </a><br><br>
  <a href="https://pravo.by/document/?guid=3871&p0=p00600002" class="link-dark "> 2. Директива Президента Республики Беларусь от 27 декабря 2006 г. № 2 <br>«О дебюрократизации государственного аппарата и повышении качества обеспечения жизнедеятельности населения» </a>
<br><br>
  <a href="https://pravo.by/document/?guid=3871&p0=P31000200&p2=%7BNRPA%7D " class="link-dark ">3. Указ Президента Республики Беларусь от 26 апреля 2010 г. № 200<br> «Об административных процедурах, осуществляемых государственными органами и иными организациями по заявлениям граждан»  </a>
<br>  <br><a href=" https://pravo.by/document/?guid=3871&p0=P32100240" class="link-dark ">4. Указ Президента Республики Беларусь от 25 июня 2021 г. № 240 <br>«Об административных процедурах, осуществляемых в отношении субъектов хозяйствования»
  </a><br>
  <br><a href="https://pravo.by/document/?guid=3871&p0=P31800202 " class="link-dark "> 5. Указ Президента Республики Беларусь от 24 мая 2018 г. № 202 <br>«О службе «одно окно»
 </a><br><br>

  <a href="https://pravo.by/document/?guid=3871&p0=C21800740 " class="link-dark ">  6. Постановление Совета Министров Республики Беларусь от 17 октября 2018 г. № 740 <br>«О перечне административных процедур, прием заявлений и выдача решений по которым осуществляются через службу «одно окно» </a>
<br>  <br><a href=" https://pravo.by/document/?guid=3871&p0=C22000541" class="link-dark "> 7. Постановление Совета Министров Республики Беларусь от 18 сентября 2020 г.№ 541 <br>«О документах, запрашиваемых при осуществлении административных процедур»
 </a><br><br>

  <a href="https://pravo.by/document/?guid=12551&p0=C22100548&p1=1 " class="link-dark "> 8. Постановление Совета Министров Республики Беларусь от 24 сентября 2021 г. № 548 <br>«Об административных процедурах, осуществляемых в отношении субъектов хозяйствования» </a>
<br><br>
  <a href="https://pravo.by/document/?guid=12551&p0=C22000271&p1=1 " class="link-dark ">   9. Постановление Совета Министров Республики Беларусь от 6 мая 2020 г. № 271<br> «Об изменении постановлений Совета Министров Республики Беларусь по вопросам осуществления административных процедур» </a>

<br>  <br><a href="https://pravo.by/document/?guid=3871&p0=C21800741 " class="link-dark "> 10. Постановление Совета Министров Республики Беларусь от 17 октября 2018 г. № 741<br> «О некоторых мерах по реализации Указа Президента Республики Беларусь от 24 мая 2018 г. № 202» </a><br>
<br>


















­
{%endblock%}
