{% extends 'base.html'%}
{%block content%}
<div class="card-group">
 <div class="card">
   <img src="\static\image\inform1.jpg" class="card-img-top" alt="...">
   <div class="card-body">
     <h5 class="card-title">20 января личный прием граждан </h5>
     <p class="card-text">
 Заместитель Премьер-министра Республики Беларусь Сивак Анатолий Александрович проведет личный прием граждан в Бобруйском горисполкоме (пл. Ленина,1) 20 января 2023 года с 11.00 до 12.30.</p>
     <a href="http://apr.gov.by/news/lines/134704.html" class="btn btn-primary">Перейти</a>
   </div>
 </div>
 <div class="card">
   <img src="\static\image\inform2.jpg" class="card-img-top" alt="...">  <div class="card-body">
     <h5 class="card-title"> Руководство предприятий ЖКХ ответит на ваши вопросы</h5>
     <p class="card-text">
21 января 2023 г. с 9.00 до 12.00 организовано проведение "прямой телефонной линии" на предприятиях жилищно-коммунального хозяйства г. Бобруйска.</p>
     <a href="http://apr.gov.by/news/lines/134697.html" class="btn btn-primary">Перейти</a>
   </div>

 </div>
 <div class="card">
   <img src="\static\image\inform3.jpg" class="card-img-top" alt="...">
   <div class="card-body">
     <h5 class="card-title">В субботу вас выслушают</h5>
     <p class="card-text">ВИКТОРИЯ АНАТОЛЬЕВНА ОМЕЛЮСИК, заместитель председателя Бобруйского горисполкома,<br> СВЕТЛАНА ВИТАЛЬЕВНА ГРИНЕВЕЦКАЯ, управляющий делами администрации Ленинского района г.Бобруйска, <br>АЛЕКСАНДР СЕМЕНОВИЧ ОДИНОЧЕНКО, управляющий делами администрации Первомайского района г.Бобруйска  <br>

</p>
      <a href="http://apr.gov.by/news/lines/134698.html" class="btn btn-primary">Перейти</a>
   </div>
 </div>
</div>
{%endblock%}
