{% extends 'base.html'%}
{%block content%}
<div class="container text-left connects">
  <div class="row">
    <div class="col">
  <p class="fw-bold fs-3">Частота обращений по процедурам:</p>
<div class="w-50 h-50">
  <div>
    <canvas id="myChart"></canvas>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['1.8', '2.33.1', '2.33.2', '2.33.4', '6.6', '6.7','4.2'],
        datasets: [{
          label: '# of Votes',
          data: [2, 1, 1, 1, 1, 1,2],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
  <p class="fw-bold fs-3">Самый продуктивный сотрудник:</p>
  <div class="canvas">
    <div class="legend">
      <ul class="caption-list">
        <li class="caption-item"> Юшкевич Татьяна	Сергеевна	</li>
        <li class="caption-item">Жукова Светлана	Николаевна</li>
        <li class="caption-item">Дубовик Анжелика	Дмитриевна</li>
        <li class="caption-item">Литвина Людмила	Ивановна</li>
        <li class="caption-item">Красова Алёна	Сергеевна</li>
        <li class="caption-item">Барсукова Екатерина	Андреевна</li>
        <li class="caption-item">Рачинская Елена	Эдуардовна</li>
      </ul>
    </div>

    <svg class="chart" width="500" height="500" viewBox="0 0 50 50">
      <circle class="unit" r="15.9" cx="50%" cy="50%"></circle>
      <circle class="unit" r="15.9" cx="50%" cy="50%"></circle>
      <circle class="unit" r="15.9" cx="50%" cy="50%"></circle>
      <circle class="unit" r="15.9" cx="50%" cy="50%"></circle>
      <circle class="unit" r="15.9" cx="50%" cy="50%"></circle>
      <circle class="unit" r="15.9" cx="50%" cy="50%"></circle>
      <circle class="unit" r="15.9" cx="50%" cy="50%"></circle>
    </svg>
  </div>
    </div>
  </div>
    <div class="col-2"><br><br><br><br><br><br><br><br>
        <a href="/sotrudnik" type="button" class= "btn btn-primary "   >Вернуться</a> <br><br><br><br><br><br><br><br>
        <a href="/othet" type="button" class= "btn btn-primary"   >Создать отчет</a>
  </div>
</div>
    </div>
  {%endblock%}
