{% extends 'base.html'%} {%block content%}
<div class="container text-left connects">
  <div class="row">
    <div class="col">
      <p class="fw-bold fs-3">Запросы:</p>
      {%for cat, msg in get_flashed_messages(True)%}
      <div class="flash {{cat}}">{{msg}}</div>
      {%endfor%}
      <form action="/setZapros" method="post" class="form-contact">
        <p class="fw-bold fs-3">Номер приема: {{prid}}</p>
        <br />
        <label for="exampleFormControlTextarea1" class="form-label"
          >Выберите организацию:</label
        ><br />
        <div class="col-sm-3 w-50">
          <label class="visually-hidden" for="specificSizeSelect"
            >Организации:</label
          >
          <select class="form-select" id="specificSizeSelect" name="org">
            {% for org in organiz %}
            <option value="{{org.idorganistiya}}">{{org.naimenovanie}}</option>
            {% endfor %}
          </select>
        </div>
        <br />
        <label for="exampleFormControlTextarea" class="form-label"
          >Введите сообщение:</label
        ><br />
        <textarea
          class="form-control w-50 h-50"
          name="text"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea
        ><br />
        <label for="label_priem_tel" class="form-label">Дата:</label>
        <input
          style="display: none"
          name="prid"
          type="number"
          value="{{prid}}"
        />
        <input
          class="form-control w-50"
          id="datetime"
          type="date"
          name="date"
        />
        <br /><br />
        <label for="exampleFormControlTextarea1" class="form-label"
          >Нажмите "Отправить" для отправки запроса</label
        >
        <br />
        <input
          class="btn btn-primary"
          type="submit"
          id="inputGroupFileAddon04"
          value="Отпрвить"
        />
      </form>
    </div>
    <div class="col">
      <p class="fw-bold fs-3">Ответы:</p>
      <div class="table-responsive">
        <table class="table table-hover table-bordered table-scrollable">
          <thead class="table-light">
            <tr>
              <th scope="col">№</th>
              <th scope="col">Организация</th>
              <th scope="col">Текст запроса</th>
              <th scope="col">Дата</th>
            </tr>
          </thead>
          <tbody>
            {% for zap in zapr %}
            <tr>
              <th scope="row">{{zap.idzapros}}</th>
              <th scope="row">
                {{zap.organistiya_idorganistiya.naimenovanie}}
              </th>
              <th scope="row">{{zap.text}}</th>
              <th scope="row">{{zap.data}}</th>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="riasd">
    <form action="/endPriem" method="POST">
      <div class="btn-group" role="group">
        <input type="submit" name="status" value="Отказать" class="btn btn-danger"></input>
        <input type="submit" name="status" value="Выйти и ожидать ответ" class="btn btn-warning"></input>
        <input type="submit" name="status" value="Передать в обработку" class="btn btn-success"></input>
        <input
          style="display: none"
          name="prid"
          type="number"
          value="{{prid}}"
        />
      </div>
    </form>
  </div>
</div>

{%endblock%}
